<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--Aware-->
	<bean id="myApplicationAware" class="org.springframework.test.yly.aware.MyApplicationAware"></bean>

	<!--BeanPostProcessor-->
	<bean id="beanPostProcessorTest" class="org.springframework.test.yly.beanpostprocessor.BeanPostProcessorTest "></bean>

	<!--InitializingBean-->
	<bean id="initializingBeanTest" class="org.springframework.test.yly.init.InitializingBeanTest">
		<property name="name" value="chenssy 1 号"/>
	</bean>

	<!--init-method-->
	<bean id="initMethodBeanTest" class="org.springframework.test.yly.init.InitMethodBeanTest"
		  init-method="setOtherName">
		<property name="name" value="chenssy 1 号"/>
	</bean>

	<!-- LifeCycleBean -->
	<bean id="lifeCycle" class="org.springframework.test.yly.lifecyclebean.LifeCycleBean"
		  init-method="initMethod" destroy-method="destroyMethdo">
		<property name="test" value="test"/>
	</bean>

	<!-- BeanFactoryPostProcessor -->
	<bean id="studentService" class="org.springframework.test.yly.beanfactorypostprocessor.StudentService">
		<property name="name" value="chenssy"/>
		<property name="age" value="10"/>
	</bean>

	<bean class="org.springframework.test.yly.beanfactorypostprocessor.BeanFactoryPostProcessor_1"/>
	<bean class="org.springframework.test.yly.beanfactorypostprocessor.BeanFactoryPostProcessor_2"/>

</beans>